* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flags {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;

}

.flag {
  width: 30rem;
  height: 18rem;
  position: relative;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}

.flag::before,
.flag::after {
  content: "";
  position: absolute;
  height: 33.3%;
  width: 100%;
}

.flag::before {
  top: 0;
  background-color: #ff9933;
}

.flag::after {
  background-color: #009648;
  bottom: 0;
}

.icon-ashoka {
  content: url(/Ashoka_Chakra.svg);
  height: 6rem;
  position: relative;
  animation: circle 0.3s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
